<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>339693086923-t9copbq08qber6mku33gaatjk0i2uaql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339693086923-t9copbq08qber6mku33gaatjk0i2uaql</string>
	<key>API_KEY</key>
	<string>AIzaSyCodikX-af3MMlh5v0RS8ljgEYtKkrpUeU</string>
	<key>GCM_SENDER_ID</key>
	<string>339693086923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.christophebugnon.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-9e19b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-9e19b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339693086923:ios:6b6ed1340e43eb2f</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-9e19b.firebaseio.com</string>
</dict>
</plist>